.ttl{
	color: #FBF4F4;
	font-weight: bold;
	position: relative;
	left: 500px;
	font-size: 100px;
	font-family: sans-serif;
}

.tbl{
	color:white;
	width:100%;
	background-color:#3b5998;
	height:130px;
}
.typs{
	position:relative;
	height:45px;
	border:solid;
	width:50%;
	font-weight:bold;
	right:100px;
	left:580px;
	
}

.typ{
	position:relative;
	height:45px;
	border:solid;
	width:50%;
	font-weight:bold;
	left:580px;

	
}
.btn{
	position:relative;
	background-color:blue;
	color:white;
	top:40px;
	right:50px;
	cursor:pointer;

}
body{
	background-color: #7397E4;
}
.image{
	margin-top: 100px;
	display: inline;
	margin-right: 0px;
}
